.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: black;
    font-size: 18px;
    z-index: 10;
}
#links a{
    margin: 0 16px;
    color: white;
    text-decoration: none;
}
#links a:hover{
    border-bottom: 2px solid goldenrod;
}
#home{
    position: relative;
    top: 0;
}
/* .line{
    width: 95vw;
    position: absolute;
    left: 30px;
} */