.resume{
    /* height: 100vh; */
    padding: 50px;
}
.resume h1{
    font-size: 40px;
    text-shadow: 10px 15px 0 rgb(98, 97, 97);
    margin: 30px 0 50px;
}
.resume #container{
    display: grid;
    grid-template-columns: 560px 560px;
    margin: 20px 0;
}
.resume #container div{
    border: none;
    background-color: rgb(33, 33, 33);
    color: white;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    margin: 20px;
    line-height: 1.7em;
}
.resume #container h2{
    color: goldenrod;
    font-size: 25px;
}
.resume #container span{
    font-family: monospace;
    margin: 15px 70px 15px 0;
    font-size: 16px;
    letter-spacing: 1px;
}
.resume #container p{
    color: rgb(144, 142, 142);
}
.resume a{
    text-decoration: none;
}
.resume button{
    border: 1px solid goldenrod;
    background-color: goldenrod;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
    left: 43%;
    cursor: pointer;
}
.resume button:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
}

@media (max-width:800px),(max-width:1400px) {
    .resume{
        /* height: 100vh; */
        padding: 0px;
    }
    .resume h1{
        font-size: 35px;
        text-shadow: 10px 15px 0 rgb(98, 97, 97);
        margin: 30px 0;
    }
    .resume #container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .resume #container div{
        padding: 15px;
        margin: 20px;
        line-height: 1.5em;
    }
    .resume #container span{
        margin: 15px 40px 15px 0;
    }
    .resume button{
        padding: 7px 15px;
        font-size: 14px;
        position: relative;
        left: 30%;
    }
}