.skills{
    height: 90vh;
    padding: 30px;
}
.skills h1{
    font-size: 40px;
    text-shadow: 10px 15px 0 rgb(98, 97, 97);
    margin: 30px 0 50px;
}
.skills #container{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: space-around;
    margin: 50px;
}
.skills #container div{
    margin: 10px;
}
.skills .fe-content{
    display: flex;
    justify-content: space-between;
    /* margin: 30px; */
}
.skills .se-line{
    height: 12px;
    width: 100%;
    background-color: rgb(71, 70, 70);
    border-radius: 5px;
}
.skills .se-line #java,#react,#sql{
    position: relative;
    right: 10px;
    height: 12px;
    width: 80%;
    background-color: goldenrod;
    border-radius: 5px;
}
.skills .se-line #javascript,#spring{
    position: relative;
    right: 10px;
    height: 12px;
    width: 85%;
    background-color: goldenrod;
    border-radius: 5px;
}
.skills .se-line #html{
    position: relative;
    right: 10px;
    height: 12px;
    width: 90%;
    background-color: goldenrod;
    border-radius: 5px;
}
.skills .se-line #python{
    position: relative;
    right: 10px;
    height: 12px;
    width: 70%;
    background-color: goldenrod;
    border-radius: 5px;
}
.skills .se-line #adobe{
    position: relative;
    right: 10px;
    height: 12px;
    width: 75%;
    background-color: goldenrod;
    border-radius: 5px;
}
@media (max-width:800px),(max-width:1400px) {
    .skills{
        height: max-content;
        padding: 30px 0;
    }
    .skills h1{
        font-size: 35px;
        text-shadow: 10px 15px 0 rgb(98, 97, 97);
        margin: 30px 0;
    }
    .skills #container{
        display: grid;
        grid-template-columns: 175px 175px;
        justify-content: space-around;
        margin: 50px 0;
    }
}